.site_header {
    width: 100%;
    background-color: #007765;
    height: 84px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 21; /*Размещением по z-оси*/
    /*transition: height 1s ease-in-out;*/

}
.logo {
    float: left;
    padding-right: 48px;
}
.main_container {
    width: 100%; /*Устанавливает ширину содержимого элемента*/
    max-width: 1219px; /*Устанавливает максимальную ширину элемента*/
    margin-left: auto; /*Устанавливает величину отступа от левого края элемента*/
    margin-right: auto; /*Устанавливает величину отступа от правого края элемента*/
    padding-left: 55px; /*Устанавливает значение поля от левого края содержимого элемента*/
    padding-right: 55px; /*Устанавливает значение поля от правого края содержимого элемента*/
  }
  /*Основной контейнер*/
  .navigation_container {
    height: 100%; /*Устанавливает ширину содержимого элемента*/
    display: flex; /*Определяет как элемент должен быть показан в документе*/
    align-items: center; /*Выравнивает флекс-элементы внутри контейнера в перпендикулярном направлении*/
    justify-content: space-between; /*Как браузер распределяет пространство вокруг флекс-элементов вдоль главной оси контейнера*/
  }
  /*Навигационный контейнер*/
  .menu {
   
  }
  h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0; /*Расстояние от края элемента до края другог элемента*/
}
body {
  margin: 0px auto; /*Расстояние от края элемента до края окна браузера*/
  font-family: Roboto, sans-serif; /*Устанавливает семейство шрифта*/
}
.link {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color:#FFFFFF;
  list-style-type: none;
  display: inline-block;
 
}
ul {
	float: right;
	display: inline;
	
	list-style: none;
	margin: 25px 150px 0px 0px;
}
li {
	display: inline-block;
	font-size: 2vw;
}

.footer {
  padding-top: 50px; /*Устанавливает значение поля от верхнего края содержимого элемента*/
  background-color: #333; /*Определяет цвет фона элемента*/
  height: 176px; /*Устанавливает высоту содержимого элемента*/
  text-align: center; /*Определяет горизонтальное выравнивание текста в пределах элемента*/
}
.text {
  width: 540px; /*Устанавливает ширину содержимого элемента*/
  height: 74px; /*Устанавливает высоту содержимого элемента*/
  margin: 0 auto; /*Расстояние от края элемента до края другог элемента*/
  color: #FFFFFF; /*Определяет цвет текста элемента*/
  font-style: normal; /*Определяет начертание шрифта — обычное, курсивное или наклонное*/
  font-weight: normal; /*Устанавливает насыщенность шрифта*/
  font-size: 18px; /*Определяет размер шрифта элемента*/
  line-height: 21px; /*Задаёт высоту строки текста*/
}
.main_title {
  font-style: normal; /*Определяет начертание шрифта — обычное, курсивное или наклонное*/
  font-weight: 500; /*Устанавливает насыщенность шрифта*/
  font-size: 75px; /*Определяет размер шрифта элемента*/
  line-height: 84px; /*Задаёт высоту строки текста*/
  text-align: center; /*Определяет горизонтальное выравнивание текста в пределах элемента*/
  color: #fff; /*Определяет цвет текста элемента*/
}
/*Основной звголовок*/
.section_1 {
  background: url(img/main.png) center no-repeat; /*Установит фон элемента*/
  background-size: cover; /*Масштабирует фоновое изображение, согласно заданным размерам*/
  margin-top: 84px; /*Устанавливает величину отступа от верхнего края элемента*/
  padding-top: 160px; /*Устанавливает значение поля от верхнего края содержимого элемента*/
  padding-bottom: 160px; /*Устанавливает значение поля от нижнего края содержимого элемента*/
}
/*Первая cекция*/
.section_2 {
  background-color: #fff; /*Определяет цвет фона элемента*/
  padding-top: 55px;
  padding-bottom: 95px;
}
/*Вторая cекция*/
.titles {
  margin-top: 48px;
  font-weight: 500;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  color: #007765;
   
}
/*Заголвок*/
.text_section_2 {
  font-style: normal; /*Определяет начертание шрифта — обычное, курсивное или наклонное*/
  font-weight: normal; /*Устанавливает насыщенность шрифта*/
  font-size: 32px; /*Определяет размер шрифта элемента*/
  line-height: 38px; /*Задаёт высоту строки текста*/
  text-align: center;

}




.section_3 {
  background: url(img/fff.png) center no-repeat;
  background-size: cover; /*Масштабирует фоновое изображение, согласно заданным размерам*/
  padding-top: 128px; /*Устанавливает значение поля от верхнего края содержимого элемента*/
  padding-bottom: 128px; /*Устанавливает значение поля от нижнего края содержимого элемента*/
}
/*Третья секция*/
.text_section_3 {
  width: 100%;
  font-style: italic;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #FFFFFF;
}
.text_section_4 {
  font-style: normal;
  font-weight: normal; 
  font-size: 32px; 
  line-height: 37px; 
  color: #000; 
  text-align: center;
  
}
.section_5 {
  background-color: #fff; /*Определяет цвет фона элемента*/
  padding-top: 58px; /*Устанавливает значение поля от верхнего края содержимого элемента*/
  padding-bottom: 112px; /*Устанавливает значение поля от нижнего края содержимого элемента*/
}
/*Пятая секция*/
.img {
  width: 350px; /*Устанавливает ширину содержимого элемента*/
  height: 283px; /*Устанавливает высоту содержимого элемента*/
  text-align: center; /*Определяет горизонтальное выравнивание текста в пределах элемента*/
  display: flex; /*Определяет как элемент должен быть показан в документе*/
  flex-flow: column wrap;
  align-items: center; /*Выравнивает флекс-элементы внутри контейнера в перпендикулярном направлении*/
  padding-bottom: 55px; /*Устанавливает значение поля от нижнего края содержимого элемента*/
}
/*Изображения*/
.name {
  font-weight: 700; /*Устанавливает насыщенность шрифта*/
  font-size: 24px; /*Определяет размер шрифта элемента*/
  line-height: 28px; /*Задаёт высоту строки текста*/
  color: #007765; /*Определяет цвет текста элемента*/
}
.team {
  padding-top: 58px; /*Устанавливает значение поля от верхнего края содержимого элемента*/
}
.figure {
  margin: 0; /*Расстояние от края элемента до края другог элемента*/
  padding: 0; /*Устанавливает значение полей вокруг содержимого элемента*/
  display: flex; /*Определяет как элемент должен быть показан в документе*/
  justify-content: space-evenly;
  flex-wrap: wrap;
}
  .foto {
    width: 168px; /*Устанавливает ширину содержимого элемента*/
    height: 168px; /*Устанавливает высоту содержимого элемента*/
  }
  /*Фото*/
